.App {
  width: 80%;
  box-shadow: 3px 3px 10px rgba(0 0 0 / 7%);
  display: flex;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 5px;
}

table {
  width: 100%;
}

table tbody tr {
  height: 30px;
}

table tbody tr td {
  padding: 10px;
}

table tbody tr td button {
  cursor: pointer;
  display: block;
}

.toggle-container {
  position: relative;
}

.dropdown-container {
  position: absolute;
  top: 0px;
  left: 80px;
  background-color: red;
  width: 100px;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 7%);
  border: 1px solid #f2f2f2;
  border-radius: 5px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 0.3s ease;
}
.dropdown-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  padding: 5px;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
